# Entorno virtual
.venv/
venv/
env/

# Python
__pycache__/
*.pyc
*.pyo

# Jupyter
.ipynb_checkpoints/

# Visual Studio Code
.vscode/

# Archivos del sistema
.DS_Store
Thumbs.db

# Datos grandes (opcional)
data/raw/*.zip